<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.app.jelth.domain.mapper.app.AppRecordMapper">

    <select id="getMyRoutineList" resultType="com.app.jelth.domain.model.MyRoutine" parameterType="String">
        SELECT
            my_routine_list_code,
            routine_code,
            routine_name,
            routine_type_b,
            routine_type_a,
            routine_type_c,
            routine_type_d,
            insert_time,
            insert_user,
            update_time,
            update_user
        FROM
            my_workout_routine_list
        WHERE
            user_code = #{userCode}

    </select>


    <insert id="insertMyRoutine" parameterType="com.app.jelth.domain.model.MyRoutine">
        INSERT INTO my_workout_routine_list(
            my_routine_list_code,
            user_code,
            routine_code,
            routine_name,
            routine_type_a,
            routine_type_b,
            routine_type_c,
            routine_type_d,
            insert_time,
            insert_user
        ) values(
            get_random_uuid(),
            #{userCode},
            get_random_uuid(),
            #{routineName},
            #{routineTypeA},
            #{routineTypeB},
            #{routineTypeC},
            #{routineTypeD},
            now(),
            #{insertUser}
        )
    </insert>
    <update id="ModifyMyRoutine" parameterType="com.app.jelth.domain.model.MyRoutine">
        UPDATE
            my_workout_routine_list
        SET
            routine_name = #{routineName}
        WHERE
            my_routine_list_code = #{myRoutineListCode}
    </update>
    <delete id="DeleteMyRoutine" parameterType="com.app.jelth.domain.model.MyRoutine">
        DELETE FROM
            my_workout_routine_list
        WHERE
            user_code = #{userCode}
        AND my_routine_list_code = #{myRoutineListCode}
    </delete>
    <insert id="dayilRoutineAppend" parameterType="com.app.jelth.domain.model.DailyRecordM">
        INSERT INTO daily_record_m(
            daily_record_master_code,
            user_code,
            my_routine_list_code,
            routine_type_a,
            routine_seq,
            routine_record_date
        )VALUES(
            get_random_uuid(),
            #{userCode},
            #{myRoutineListCode},
            #{routineTypeA},
            (SELECT count(*) FROM daily_record_m WHERE routine_record_date = #{routineRecordDate}),
            #{routineRecordDate}
       )
    </insert>
    <select id="getDailyRecordMList" parameterType="com.app.jelth.domain.model.DailyRecordM" resultType="com.app.jelth.domain.model.DailyRecordM">
        SELECT
            M.*,
            my.routine_name
        FROM daily_record_m M
        LEFT JOIN my_workout_routine_list MY
        ON M.my_routine_list_code = MY.my_routine_list_code
        WHERE M.user_code = #{userCode}
        AND M.routine_record_date = #{routineRecordDate}
        ORDER BY m.routine_seq

    </select>
    <select id="getDailyRecordDList" parameterType="com.app.jelth.domain.model.DailyRecordM" resultType="com.app.jelth.domain.model.DailyRecordD">
        SELECT
            D.*
        FROM daily_record_d D
        WHERE user_code = #{userCode}
        AND daily_record_master_code = #{dailyRecordMasterCode}
        ORDER BY workout_routine_seq

    </select>
    <delete id="DeleteRoutineMaster" parameterType="com.app.jelth.domain.model.DailyRecordM">
        DELETE FROM daily_record_m
        WHERE daily_record_master_code = #{dailyRecordMasterCode}
    </delete>
    <update id="UpdateRoutineSeq" parameterType="com.app.jelth.domain.model.DailyRecordM">
        update daily_record_m up
        set routine_seq = sel.row_num
            from (
                select
                    row_number() over(order by M.routine_seq) as row_num,
                    M.routine_record_date,
                    M.daily_record_master_code
                from daily_record_m M
                where M.routine_record_date = #{routineRecordDate}
               ) sel
        where up.daily_record_master_code = sel.daily_record_master_code
    </update>
    <select id="calendarLineRequest" parameterType="HashMap" resultType="HashMap">
        select
            routine_record_date ,
            right(routine_record_date,2) as attendanceDate
        from daily_record_m
        where user_code = #{userCode}
          and left(routine_record_date,7) = #{calendarMonth}
        group by routine_record_date
        order by routine_record_date
    </select>
    <insert id="InsertRoutineDetail" parameterType="com.app.jelth.domain.model.DailyRecordD">
        INSERT INTO daily_record_d(
            daily_record_detail_code,
            daily_record_master_code,
            user_code,
            my_routine_list_code,
            workout_routine_seq,
            workout_iterations_count,
            workout_set_weight,
            workout_done_yn
        )VALUES(
            get_random_uuid(),
            #{dailyRecordMasterCode},
            #{userCode},
            #{myRoutineListCode},
            (SELECT count(*) FROM daily_record_d WHERE daily_record_master_code = #{dailyRecordMasterCode}),
            #{workoutIterationsCount},
            #{workoutSetWeight},
            #{workoutDoneYn}
       )
        <selectKey keyColumn="daily_record_detail_code" keyProperty="dailyRecordDetailCode" order="AFTER" resultType="String">
            SELECT
                daily_record_detail_code
            FROM daily_record_d
            WHERE daily_record_master_code = #{dailyRecordMasterCode}
            ORDER BY workout_routine_seq DESC
            limit 1
        </selectKey>

    </insert>
    <update id="ModifyRoutineMaster" parameterType="com.app.jelth.domain.model.DailyRecordD">
        UPDATE daily_record_d SET
            workout_iterations_count = #{workoutIterationsCount},
            workout_set_weight = #{workoutSetWeight}
        WHERE
            daily_record_master_code = #{dailyRecordMasterCode}
AND workout_routine_seq = #{workoutRoutineSeq}

    </update>

    <delete id="dailyRecordDetailDelete" parameterType="com.app.jelth.domain.model.DailyRecordD">
        DELETE FROM daily_record_d
        WHERE daily_record_detail_code = #{dailyRecordDetailCode}
    </delete>

    <update id="workoutRoutineSeqUpdate" parameterType="com.app.jelth.domain.model.DailyRecordD">
        update daily_record_d up
        set workout_routine_seq = sel.row_num
            from (
       	select
       		row_number() over(order by D.workout_routine_seq) as row_num,
       		D.daily_record_detail_code,
     		D.daily_record_master_code
       	from daily_record_d D
       	where D.daily_record_master_code = #{dailyRecordMasterCode}
       ) sel
        where up.daily_record_detail_code = sel.daily_record_detail_code
    </update>
</mapper>